

.timeline_axis line{ /* axis tick marks */
    stroke-width : 0.5px;
    stroke: #dddddd;
    shape-rendering: crispEdges;
}
.timeline_axis path { /* axis line */
    stroke-width: 0.5px;
    stroke: #dddddd;
    shape-rendering: crispEdges;
}
.tooltip{
    font-family: "HelveticaNeue", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-anchor: middle;
    fill: #eeeeee;
}
.guideLine{
    stroke-width:0.5px;
    stroke: #444444;
    stroke-dasharray: 2,2;
}
.chart_border{
    stroke-width: 0.5px;
    stroke: #eeeeee;
    fill: none;
}
.border_line{
    stroke-width: 1px;
    stroke: #444444;
}

.circle_event{
    stroke-width:0.5px;
    stroke: #222222;
    opacity: 0.3;
    mix-blend-mode: screen;
}
#date_axis line{
     stroke-width:0.5px;
     stroke: #444444;
     stroke-dasharray: 2,2;
    
}
@media screen and (min-width: 640px){
    #date_axis line{
        stroke-width:0.5px;
        stroke: #444444;
        stroke-dasharray: 2,2;
    }
}

#date_axis path{
    display: none;
}

#shelling{
    fill:#D52270;
    color:#D52270;
    border-color: #B71C1C;
}
#air_strike{
    fill: #3196D3;
    color: #3196D3;
    border-color: #444444;
}
#battle{
    fill: #22BF99;
    color:#22BF99;
    border-color: #444444;
}
#chemical{
    fill: #A2DF69;
    color: #A2DF69;
    border-color: #444444;
}
#direct_attack{
    fill: #CCDA32;
    color: #CCDA32;
    border-color: #444444;
}
#barrel_bomb{
    fill: #FF5266;
    color: #FF5266;
    border-color: #444444;
}
#death{
    fill: #FF4081;
    color: #FF4081;
    stroke: #FF4081;
    stroke-width: 0.05em;
    
}

.chapter_selector{
    fill: rgba(16,16,16,0);
    stroke: #aaaaaa;
    stroke-width: 0.5px;
}
.chapter_mask{
    fill: rgba(2,2,2,0.5);
}

.timeline_axis { /* axis labels */
    fill: #eeeeee;
    font-family: "HelveticaNeue", sans-serif;
    font-weight: lighter;
    font-size: 0.6em;
}
@media screen and (max-width: 361px){
    .timeline_axis { /* axis labels */
        fill: #eeeeee;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 0.5em;
    }
}

