.focus_map_label{
 	fill: #ffffff;
 	font-family: "HelveticaNeue";
 	font-weight: bold;
 	font-size: 0.5em;
 	letter-spacing: 0.1em;
 }
 .focus_map_number{
 	fill: #ffffff;
 	font-family: "Courier New";
 	font-size: 0.5em;
 	letter-spacing: 0.1em;
 }
 .graticule{
	fill: #11181A;
	stroke: #AAAAAA;
	stroke-width: 0.5px;
	stroke-opacity: 0.3;
}
.syria_label{
 	fill: #DDDDDD;
 	font-family: "HelveticaNeue";
 	font-weight: bold;
 	font-size: 8px;
 	letter-spacing: 1.5px;
 }
 .map_legend_text{
 	fill: #ffffff;
 	font-family: "Courier New";
 	font-size: 0.5em;
 	letter-spacing: 0.1em;
 }