@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
@import url('https://fonts.googleapis.com/css?family=Gurajada');

/*html Element*/
html{font-size: 16px;}  
body{
	min-width: 360px;
	margin: 0px;
	padding: 0px;
	color: #AAAAAA;
	background-color: #11181A;
}
p{
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 150%;
}
a:link {
	color:#ffffff;
	text-decoration: none;
}
a:visited {
	color:#ffffff;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color:#ffffff;
}
/*html Element*/



/*Big containner*/

.container{
	width: 100%;
	height: auto;
	margin: auto;
	z-index: 10;
}
.content_col{
	max-width: 900px;
	width: 100%;
	margin: 0%;
	text-align: center;
}
.intro{
	display: block;
	width: 94%;
	margin: 3% auto;
	max-width: 900px;
	text-align: center;
	background-color: rgba(17,24,26,0.9);
	z-index: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 640px){
	.content_col{
		max-width: 900px;
		width: 94%;
		margin: 0% auto 3% auto;
		text-align: center;
	}
}


#content{
	margin-top: 20%;
	background-color: #11181A;
	border-style: solid;
	border-width: 0px 0 0 0;
	border-color: #668890;
	width: 100%;
	max-width: 100% !important;
	height: auto;
	margin: auto;
	z-index: 10;
	box-shadow: 0px 0px 200px 150px #11181A;
}
#intro_img_head{
	background-color: rgba(255,255,255,0);
	width: 96% !important;
	padding: 0% 2% !important;
	margin: 3% -5% 3% 0% !important;
}
/*Big containner*/




/*Intro page flex-box*/
.img_head{
	display: inline-block;
	width:75%;
	padding-top:20%;
	padding-bottom:20%;
	color:#dddddd;
	border-style: solid;
	border-color: #eeeeee;
	border-width: 1px;
	position: relative;
	background-repeat: no-repeat;
}
.flex-31{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex:1;
	align-items: center;
}
.flex-21{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex:1;
	align-items: center;
}

.flex-12{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:90%;
	margin-bottom: 10%;
}
.subheading{
	display: inline-block;
	text-align: center;
	margin: 0.1em auto 0.1em auto;
	font-size: 1.8em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding: 0% 2%;
	word-spacing: 0.25em;
	letter-spacing: 0.05em;
	color:#ffffff;
}
.facts_p{
	display: inline-block;
	font-size:0.8em;
	font-weight: 300;
	width:75%;
	padding: 2% 12.5%;
	margin:0 !important;
	text-align: left;
	text-indent: 0.5em;
	color: #aaafb5;
}
@media screen and (min-width: 640px){
	.img_head{
		display: inline-block;
		width:90%;
		padding-top:35%;
		padding-bottom:35%;
		color:#dddddd;
		border-style: solid;
		border-color: #eeeeee;
		border-width: 1px;
		position: relative;
		background-repeat: no-repeat;
	}
	.flex-31{
		width: 100%;
		max-width: 900px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
	.flex-21{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
	.flex-12{
		display: flex;
		flex-direction: column;
		align-items: center;
		width:50%;
		flex-grow: 1;
		margin-bottom: 0%;
	}
	.subheading{
		display: inline-block;
		text-align: center;
		margin: 0.1em auto 0.1em auto;
		font-size: 1.2em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		word-spacing: 0.25em;
		letter-spacing: 0.05em;
		color:#ffffff;
	}
	.facts_p{
		display: inline-block;
		font-size:0.8em;
		font-weight: 300;
		width:90%;
		padding: 5%;
		margin:0 !important;
		text-align: left;
		text-indent: 0.5em;
		color: #aaafb5;
	}
}
/*Intro page flex-box*/


/*Gap*/
.gap{
	display: inline-block;
	width: 100%;
	padding:15% 0%;
}

/*headline*/
h1.title{
	display: inline-block;
	color: #ffffff;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 0.02em;
	border-top-style: solid;
	border-top-width: 0.02em;
	border-color: #cccccc;
	margin: 0.05em auto 0.05em auto;
	padding-top: 0.1em;
	max-width: 900px;
	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 5em;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	font-weight: normal;
	font-style: normal;
	line-height: 95%;
	mix-blend-mode: difference;
	opacity: 0.8;
	
}
h3.title{
	display: inline-block;
	color: #fafafa;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
	margin:0;
	mix-blend-mode: difference;
	opacity: 0.8
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
	margin: 2em 0 0.5em 0;
	margin-top: 0px;
	line-height: 120%;
	letter-spacing: 0.03em;
	word-spacing: 0.1em;
	text-align: left;
	color: #eeeeee;
	font-stretch: condensed;
}

@media screen and (min-width:640px){
	h1.title{
		font-size: 6em;
		letter-spacing: 0.05em;
		word-spacing: 0.1em;
	}
	h3.title{
		display: inline-block;
		color: #fafafa;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 1.2em;
		letter-spacing: 0.1em;
		word-spacing: 0.3em;
		margin:0;
	}
	h2{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		font-size: 1.5em;
		margin: 2em 0 0.5em 0;
		margin-top: 0px;
		line-height: 120%;
		letter-spacing: 0.03em;
		word-spacing: 0.1em;
		text-align: left;
		color: #eeeeee;
		font-stretch: condensed;
	}
}

/*data_source img*/
.flex-42{
	display: flex;
	flex-direction: row;
	width:100%;
	flex-wrap: wrap;
}
.source_img{
	width:40%;
	margin:5%;
}
@media screen and (min-width:360px){
	.flex-42{
		display: flex;
		flex-direction: row;
		width:100%;
	}
	.source_img{
		width:20%;
		margin:2.5%;
	}
}

/*img_background*/
#civilwar{
	background: url('../img/facts_civil_war_dark.jpg') no-repeat center center;
	background-size: cover;
}

#death{
	background: url('../img/facts_death_dark.jpg') no-repeat center center;
	background-size: cover;
}


#refugee{
	background: url('../img/facts_refugee_dark.jpg') no-repeat center center;
	background-size: cover;
}

#is{
	background: url('../img/is.jpg') no-repeat center center;
	background-size: cover;
}
#migrant_crisis{
	background: url('../img/refugee_budapest.jpg') no-repeat center center;
	background-size: cover;
}

#background_svg{
	z-index: -10;
}
#background_img{
	z-index: -10;
	background-image: url("../img/logo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	opacity: -10;
}
#background_cover{
	z-index: -2 !important;
	background-color: #11181A;
}


.header_background{
	text-align: center;
	position: fixed;
	width:100%;
	max-width: 700px;
	top:-15%;
	left:0;
}

/*narrative*/
.narrative{
	display: inline-block;
	width: 100%;
	margin: 5% auto 5% auto;
	font-family: 'Source Sans Pro', sans-serif;
	text-indent: 0.5em;
	font-size: 1.1em;
	font-weight: 300;
	text-align: left;
	word-spacing: 0.1em;
	line-height: 140%;
	color: #eeeeee;
}
@media screen and (min-width: 640px){
	.narrative{
		display: inline-block;
		width: 100%;
		margin: 5% auto 5% auto;
		font-family: 'Source Sans Pro', sans-serif;
		text-indent: 0.5em;
		font-size: 1.3em;
		font-weight: 300;
		text-align: left;
		word-spacing: 0.1em;
		line-height: 150%;
		color: #eeeeee;
	}
}


/*report*/
.report{
	transition: all 0.5s ease;
	width:100%;
	margin:2% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-style: solid;
	border-width: 1px;
	border-color:  #11181A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}
.report:hover{
	box-shadow: 0 4px 8px 0 rgba(68, 221, 170, 0.2), 0 6px 16px 0 rgba(68, 221, 170, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color:  #44DDAA;
	cursor: pointer;
}
.report_num{
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		width:20%;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		font-size: 2em;
		color: #ffffff;
		background-color: #229977;
	}
	.report_back{
		display: inline-block;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		margin:0;
		width:34%;
		padding:2% 0% 18% 2%;
		font-family: 'Source Sans Pro', sans-serif;
		color: #ffffff;
		font-size: 0.8em;
		font-weight: 700;
		text-align: left;

	}
	.report_description{
		display: inline-block;
		width:41%;
		padding: 2% 2% 0 2%;
		text-indent: 0.5em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.8em;
		font-weight: 300;
		text-align: left;
		word-spacing: 0.1em;
		line-height: 140%;
		background-color: #11181A;
		color: #eeeeee;
	}
.button{
	width:145px;
	margin: 10% 2% 5% auto;
	padding: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
}
.button:hover{
	transition: all 0.5s ease;
	border-color: #229977;
	background-color: #229977;
}
@media screen and (min-width: 640px){
	.report_num{
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		width:20%;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		font-size: 4em;
		color: #ffffff;
		background-color: #229977;
	}
	.report_back{
		display: inline-block;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		margin:0;
		width:34%;
		padding:2% 0% 18% 2%;
		font-family: 'Source Sans Pro', sans-serif;
		color: #ffffff;
		font-size: 1em;
		font-weight: 700;
		text-align: left;

	}
	.report_description{
		display: inline-block;
		width:41%;
		padding: 2% 2% 0 2%;
		text-indent: 0.5em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1em;
		font-weight: 300;
		text-align: left;
		word-spacing: 0.1em;
		line-height: 150%;
		background-color: #11181A;
		color: #eeeeee;
	}
	.button{
		width:130px;
		margin: 10% 2% 5% auto;
		padding: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		border-style: solid;
		border-width: 1px;
		border-color: #eeeeee;
	}
}




#title{
	background-color: rgba(17,17,17,0) !important;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
	z-index: 0 !important;
}

#logo{
	width: 50%;
	margin: 4% 0 2% 0;
}
#top{

}
#bottom{

}

h3.intro{
	display: inline-block;
	text-align: center;
	margin: 0.1em auto 0.1em auto;
	color: #eeeeee;
	font-size: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	word-spacing: 0.25em;
	letter-spacing: 0.05em;
}

.block-1 >h2{
	margin: 3% 0 1% -3% !important;
	padding: 0 0 1% 1.5%;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #888888;
}

#back{
	fill:white;
    -webkit-filter: url(#filter);
            filter: url(#filter);
}

.goto{
	width: 20px;
	height: 20px;
}
.data_source{
	width: 90%;
	height: auto;
	margin: 0 5%;
	-webkit-filter:grayscale(60%);
	        filter:grayscale(60%);
}
.data_source_p{
	margin: 0;
	color: #AAAAAA;
	font-size: 0.8em;
}
h3.source_list{
	text-align: center;
	width:98%;
	margin:0 !important;
	padding:1%;
	font-size: 0.6em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	z-index: 999;
	margin:0.5em 0;
	color:#eeeeee;
	}
#chapt1{
	background-image: url("../img/chapt1_dark.jpg");
}
#chapt2{
	background-image: url("../img/chapt2_dark.jpg");
}
#chapt3{
	background-image: url("../img/chapt3_dark.jpg");
}
#chapt4{
	
}
.working{
	text-align: center;
	margin-top: 20%;
	font-size: 1.5em;
	color: #666666;
}
h3.chapt_list{
	text-align: left;
	width:96%;
	margin:0 !important;
	padding:2%;
	position: absolute;
	top:0;
	left:0;
	font-size: 0.8em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	z-index: 999;
	margin:1em 0;
	background-color: #111111;
}

.block-1{
	display: inline-block;
	width: 98%;
	margin: 1%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
}
.block-2{
	display: flex;
	flex-direction: row;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	position: relative;
	width: 98%;
	margin: 1%;
	align-items: center;
}
.block-3{
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 4% 5%;
	align-items: center;
}
.block-42{
		display: inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		text-align: center;
		position: relative;
		display: inline-block;
		position: relative;
		float: left;
		max-width: 600px;  
		width: 46%;
		margin: 2%;
	}
@media screen and (min-width: 360px){
	.block-42{
		display: inline-block;
		position: relative;
		float: left;
		width: 21%;
		margin: 2%;
	}
}
@media screen and (min-width: 640px){
	html{font-size: 16px;}

	.block-2{
		display: inline-block;
		position: relative;
		float: left;
		max-width: 600px;  
		width: 48%;
		margin: 1%;
	}
	.data_source_p{
		margin: -10% 5% 2% 5%;
		color: #AAAAAA;
		font-size: 0.8em;
	}
	h3.source_list{
		text-align: center;
		width:98%;
		margin:0 !important;
		padding:1%;
		font-size: 1em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		z-index: 999;
		margin:0.5em 0;
		color:#eeeeee;
	}

}