@import url('https://fonts.googleapis.com/css?family=Muli:300,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Source+Sans+Pro:300,400,600,700');

html{font-size: 12px;}
body{
	min-width: 360px;
	margin: 0px;
	padding: 0px;
	color: #bbbcbd;
	background-color: #111111;
}
p{
	display: inline-block;
	font-size: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 120%;
	margin-bottom: 5%;
	text-align: left;
}
a:link {
	color:#ffffff;
	text-decoration: none;
}
a:visited {
	color:#ffffff;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color:#ffffff;
}
span.red{
	color: #ee4455;
}
span.green{
	color: #44DDAA;
}
#intro_facts{
	background-color: rgba(255,255,255,0.0);
	z-index: -2;
}
.facts{
	overflow: hidden;
	width:57%;
	padding-top:17.5%;
	padding-bottom:17.5%;
	color:#dddddd;
	border-style: solid;
	border-width: 1%;
	border-color: #dd4455;
	position: relative;
	background-repeat: no-repeat;
	float:left;
}
.facts_p{
	overflow: hidden;
	display: inline-block;
	font-size:0.8em;
	font-weight: 400;
	width:30%;
	height:100%;
	float: left;
	background-color: #dd4455;
	padding: 5%;
	margin:0 !important;
	color: #eeeeee;
}
.subheading{
	display: inline-block;
	text-align: center;
	margin: 0.1em auto 0.1em auto;
	color: #222222;
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	word-spacing: 0.25em;
	letter-spacing: 0.05em;
}
#civilwar{
	
}
#civilwar:after{
	content:"";	
	background: url('../img/facts_civil_war.jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:-1;
	filter: grayscale(0.8);
}

#death{
}
#death:after{
	content:"";	
	background: url('../img/facts_death.jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:-1;
	filter: grayscale(0.8);
}

#refugee{
}
#refugee:after{
	content:"";	
	background: url('../img/facts_refugee.jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:-1;
	filter: grayscale(0.8);
}

#background_svg{
	z-index: -999;
	background-image: url("../img/logo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}
#background_cover{
	z-index: -10;
	background-color: #111111;
}
.header_background{
	text-align: center;
	position: fixed;
	width:100%;
	max-width: 900px;
	top:0;
	left:0;
}
.narrative{
	display: inline-block;
	width: 80%;
	margin: 2% auto;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 1.7em;
	text-align: center;
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
	line-height: 140%;
	color: #ffffff;
}

.container{
	width: 100%;
	height: auto;
	margin: auto;
}
.header{
	max-width: 900px;
	width: 94%;
	margin: 3%;
	text-align: center;
	background-color: #111111;
}
.intro{
	display: inline-block;
	width: 94%;
	margin: 3%;
	text-align: center;
	background-color: rgba(17,17,17,0.9);
	overflow: hidden;
}
.gap
#title{
	background-color: rgba(0,0,0,0) !important;
	mix-blend-mode: luminosity;
}
h1.title{
	display: inline-block;
	color: #fafafa;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 0.035em;
	border-top-style: solid;
	border-top-width: 0.035em;
	margin: 0.05em auto 0.05em auto;
	padding-top: 0.1em;
	max-width: 900px;
	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 7em;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	font-weight: normal;
	font-style: normal;
	line-height: 95%;
}
h3.title{
		display: inline-block;
		color: #fafafa;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		font-size: 1.2em;
		letter-spacing: 0.1em;
		word-spacing: 0.3em;
		margin:0;
	}
#logo{
	width: 50%;
	margin: 4% 0 2% 0;
}
#top{

}
#bottom{

}

h2.intro{
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
	background: none;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
h3.intro{
	display: inline-block;
	text-align: center;
	margin: 0.1em auto 0.1em auto;
	color: #eeeeee;
	font-size: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	word-spacing: 0.25em;
	letter-spacing: 0.05em;
}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	margin: 2em 0 0.5em 0;
	margin-top: 0px;
	line-height: 120%;
	letter-spacing: 0.03em;
	word-spacing: 0.1em;
	text-align: left;
	color: #f0f0f0;
	font-stretch: condensed;
}

#back{
	fill:white;
    filter: url(#filter);
}
.content_block{
	width: 100%;
	display: inline-block;
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: #888888;
}
.report{
	width:100%;
	position: absolute;
	top:0;
	left:0;
	display: inline-block;
	padding: 2% 0% 35% 0%;
}
.report_back{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	display: inline-block;
	filter: grayscale(50%);
}
.data_source{
	height: 30%;
	width: auto;
	max-width: 80%;
	max-height: 4em;
	margin: 0.5em;
}
.data_source_p{
	margin: 2% 5%;
	color: #AAAAAA;
	font-size: 0.8em;
}
h3.source_list{
		text-align: center;
		width:98%;
		margin:0 !important;
		padding:1%;
		font-size: 0.6em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		z-index: 999;
		margin:0.5em 0;
		background-color: #111111;
		color:#eeeeee;
	}
#chapt1{
	background-image: url("../img/chapt1.jpg");
}
#chapt2{
	background-image: url("../img/chapt2.jpg");
}
#chapt3{
	background-image: url("../img/chapt3.jpg");
}
#chapt4{
	
}
.working{
	text-align: center;
	margin-top: 20%;
	font-size: 1.5em;
	color: #666666;
}
h3.chapt_list{
	text-align: left;
	width:98%;
	margin:0 !important;
	padding:1%;
	position: absolute;
	top:0;
	left:0;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	z-index: 999;
	margin:0.5em 0;
	background-color: #111111;
	color:#eeeeee;
}

.wordcloud{
	width: 96%;
	margin: 2%;
	text-align: center;
}
.block-1{
	display: inline-block;
	background-color: #111111;
	width: 98%;
	margin: 8% 1% 4% 1%;
}
.block-2{
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: left;
	position: relative;
	float: left;
	width: 98%;
	margin: 1%;
	background-color: #111111;
	text-align: center;
}
.block-3{
	display: inline-block;
	position: relative;
	float: left;
	width: 75%;
	margin: 2% 12.5%;
	z-index: -2;
	background-color: #ee4455;
	
}
.block-42{
		display: inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		text-align: center;
		position: relative;
		display: inline-block;
		position: relative;
		float: left;
		max-width: 600px;  
		width: 46%;
		margin: 2%;
		background-color: #111111;
	}
@media screen and (min-width: 360px){
	.block-42{
		display: inline-block;
		position: relative;
		float: left;
		width: 21%;
		margin: 2%;
		background-color: #111111;
	}
}
@media screen and (min-width: 640px){
	html{font-size: 14px;}
	.block-2{
		display: inline-block;
		position: relative;
		float: left;
		max-width: 600px;  
		width: 48%;
		margin: 1%;
		background-color: #111215;
	}
	h1.title{
		font-size: 8em;
		letter-spacing: 0.05em;
		word-spacing: 0.1em;
	}
	h3.title{
		display: inline-block;
		color: #fafafa;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		word-spacing: 0.3em;
		margin:0;
	}
	.report_back{
		filter: grayscale(90%);
	}
	.subheading{
		display: inline-block;
		text-align: center;
		margin: 0.1em auto 0.1em auto;
		color: #222222;
		font-size: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		word-spacing: 0.25em;
		letter-spacing: 0.05em;
	}
	.data_source_p{
		margin: 2% 15%;
		color: #AAAAAA;
		font-size: 0.8em;
	}
	h3.source_list{
		text-align: center;
		width:98%;
		margin:0 !important;
		padding:1%;
		font-size: 1em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		z-index: 999;
		margin:0.5em 0;
		background-color: #111111;
		color:#eeeeee;
	}

}
@media screen and (min-width: 820px){
	html{font-size: 16px;}
	body{
		margin: 0px;
		padding: 0px;
		background-color: #111111;
	}
	p{
		display: inline-block;
		font-size: 1.1em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		word-spacing: 0.1em;
		line-height: 140%;
		margin: 1em 0 1.4em 0;
	}
	.block-2{
		display: inline-block;
		position: relative;
		float: left;
		max-width: 600px;  
		width: 48%;
		margin: 1%;
		background-color: #111111;
	}
	.block-3{
		display: inline-block;
		position: relative;
		float: left;
		width: 30.3%;
		margin: 1.5%;
	}
	.container{
			width: 100%;
			max-width: 900px;
			height: auto;
			margin: auto;
	}
	.facts{
		width:98%;
		padding-top:20%;
		padding-bottom:65%;
		color:#dddddd;
		border-style: solid;
		border-width: 1%;
		border-color: #dd4455;
		position: relative;
		background-repeat: no-repeat;
	}
	#content{
		margin-top: 20%;
		background-color: #111111;
		border-style: solid;
		border-width: 0.3em 0 0 0;
		border-color: #CCD0DA;
	}
	.facts_p{
		width:90%;
		bottom:0;
		left:0;
		margin:5% 0 0 0;
		padding:5%;
		background-color: #dd4455;

	}

}