/* navigation */
.nav_bar{
	width: 100%;
	height: auto;
	/*background-color: #22282c;*/
	background-color: rgba(24,32,38,0.9);
	position: fixed;
	z-index: 9999;
	text-align: center;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #AAB0B6;
}
.nav_show{
	transition: all 0.5s ease;
	top: 0px;
	left: 0px;
}
.nav_hide{
	transition: all 0.5s ease;
	top: -60px;
	left: 0px;
}


/*Call to action*/
.keep_scroll{
	transition: all 0.5s ease;
	position: fixed;
	bottom:5%;
	left: 0%;
	width:100%;
	height:100px;
	text-align: center;
	opacity:1;
}
.keep_scroll_hide{
	transition: all 0.5s ease;
	opacity:0 !important;
	bottom:-12% !important;
}
.keep_scroll>img{
	width:60px;
	height:60px;
	animation: blink 3s infinite;
}
.keep_scroll>p{
	margin: 4px 2px 2px 2px;
	padding: 2px 6px;
	font-size: 0.8em;
	font-weight: 400;
	/*background-color: #c0c6ca;*/
	color: #c0c6ca;
	border-style: solid;
	border-color: #c0c6ca;
	border-width: 2px;
	border-radius: 5px;
}
@keyframes blink{
	0% {opacity:1;}
	25% {opacity:0.1;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:1;}
}


/*logo*/
#logo_text{
	display: none;
}
@media screen and (min-width: 360px){
	#logo_text{
		display: block;
	}
}


/*Lists*/
ul.topnav{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	/*max-width: 1200px;*/
	margin: 0px auto;
	padding:0px;
	z-index: 999;
}


li.nav_item{
    list-style-type: none;
	width: auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8em;
	height:53px;
	color: #eeeeee;
}


@media screen and (max-width: 640px){
	  li.nav_item{
		width: 96%;
		height:40px;
		margin: 1% 2% 1% 2%;
	}	

	.top_item{
	 	font-weight: 400;
		border-style: solid;
		border-width: 1px 0 0 0;
		border-color: #AAB0B6;
	 }
}

/*Nav division*/
#main{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #44DDAA !important;
	width:15%;
	padding:0 0 0 2%;
	font-weight: 700;
}
#chapter_display{
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: 0 1px;
	border-color: #AAB0B6;
	font-size: 0.7em;
	width:52%;
	align-items: center;
	justify-content: center;
	padding:auto 0;
	margin: 0;
}
#item{
	display: flex;
	align-items: center;
	justify-content: center;
	width:10%;
	margin:0;
	padding:0 1%;
}
@media screen and (max-width: 640px){
	#main{
		width:30%;
		position: relative;
		float: left;
		margin: 0 !important;
	}
	#chapter_display{	
		position: relative;
		float: left;
		width:59%;
		align-items: center;
		justify-content: center;
		padding:auto 0;
		margin:0;
	}
	#item{
		padding:2% 4%;
		width:92%;
		display: none;
		text-align: left;
	}
}
#main > div> a:link{
	color: #44DDAA !important;
	text-decoration: none;
}
#main > div> a:visited {
	color: #44DDAA !important;;
	text-decoration: none;
}
#item > a:link{
	color: #eeeeee;
	text-decoration: none;
}
#item > a:visited{
	color: #eeeeee;
	text-decoration: none;
}
#item:hover{
	transition: all 0.5s ease;
	border-color: #229977;
	background-color: #229977;
}


/* Menu Icon */
.icon{
	display: none;
}
.icon> a:link{
	text-decoration: none;
	color: #eeeeee;
}
.icon> a:visited{
	text-decoration: none;
	color: #eeeeee;
}
@media screen and (max-width: 640px){
  	ul.topnav li.icon {
  		position: relative;
		float: left;
		display: flex;
	}
	.icon{
		display: flex;
		align-items: center;
		justify-content: center;
		width:8% !important;
		position: relative !important;
		float: left !important;
		margin: 0 !important;
	}
}


/*Chapter progress navigation*/
.current_chapter{
	color: #eeeeee !important; 
	border-style: solid;
	border-width: 0 0 0.2em 0;
	border-color: #ffffff;
}
img.menu{
	width: 15px;
	height: 15px;
}

#chapter_num{
	float: left;
	margin: 15px 5px 5px 20px;
}
#nav_logo{
	width: 30px;
	height: auto;
}

.chapter_count{
	position:fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #11181A;
	width:70px;
	font-family: 'Source Sans Pro', sans-serif;
	color:#eeeeee;
	font-size: 1em;
	font-weight: 700;
	padding:0.5%;
	z-index: 999;
}
.count_show{
	transition: all 0.5s ease;
	right:0;
	bottom: 5%;
}
.count_hide{
	transition: all 0.5s ease;
	right:-90px;
	bottom: 5%;
}

/*Vertical Progress_bar*/
.vertical_progress_bar{
	width:5px;
	position: fixed;
	bottom:0;
	background-color: #22282c;
	z-index: 999;
}
.vertical_grid{
	position:absolute;
	display: flex;
	width:100%;
	align-items: stretch;
	top:0;
	left:0;
	flex-direction: column;
}
.grid{
	width: 100%;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ffffff;
	flex:1;
}
.vertical_progress{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	background-color: #44DDAA;
	opacity: 0.3;
}
.vertical_hide{
	transition: opacity 0.5s ease;
	height: 0;
	opacity: 0;
}
.vertical_show{
	transition: opacity 0.5s ease;
	height: 1000px;
	opacity: 1;
}


.arrow{
		text-align: center;
		font-family: 'Muli', sans-serif;
		color:#eeeeee;
		font-size: 0.7em;
		font-weight: bold;
}
.arrow > a:visited{
	color:#ffffff;
	opacity:1;
	text-decoration: none;
}
.arrow > a:link{
	color:#ffffff;
	opacity:1;
	text-decoration: none;
}

.arrow a:hover{
	opacity:1; 
	text-decoration: none;
	color:#eeeeee;
}
.arrow_img{
	margin: 0.5em;
	width:50px;
	height:50px;
}
.arrow_on{
	transition: all 0.5s ease;
	width:50px;
	height:50px;
}
.arrow_off{
	transition: all 0.5s ease;
	width:0px;
	height:0px;
}

@media screen and (max-width: 640px){
	#next{
		margin-right: 2%;
		float: right;
	}

	.arrow > a:visited{
		color:#eeeeee;
		opacity:0.8;
		text-decoration: none;
	}
	.arrow > a:link{
		color:#eeeeee;
		opacity:0.8;
		text-decoration: none;
	}

	.arrow a:hover{
		opacity:1; 
		text-decoration: none;
		color:#eeeeee;
	}
	.arrow_img{
		margin: 0.5em;
		width:50px;
		height:50px;
	}
}

@media screen and (max-width: 640px){

	.current_chapter{
		color: #eeeeee !important; 
		border-style: none;
		border-width: 0;
	}
	  ul.topnav.responsive {
	  	display: block !important;
	  	position: relative;
	  }
	 .responsive> #item {
	    float: none;
	    display: inline-block !important;
	    height:auto !important;
	  }

}

