/* navigation */
.nav_bar{
	width: 100%;
	height: auto;
	/*background-color: #22282c;*/
	background-color: rgba(8,16,24,0.9);
	position: fixed;
	z-index: 9999;
	text-align: center;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #eeeeee;
}
.nav_show{
	transition: all 0.5s ease;
	top: 0px;
	left: 0px;
}
.nav_hide{
	transition: all 0.5s ease;
	top: -60px;
	left: 0px;
}
ul.topnav{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding:0px;
	z-index: 999;
}
li.nav_item{
    list-style-type: none;
	width: auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	letter-spacing: 0.05em;
	height:53px;
	color: #eeeeee;
}
.current_chapter{
	color: #eeeeee !important; 
	border-style: solid;
	border-width: 0 0 0.2em 0;
	border-color: #ffffff;
}
.icon{
	display: none;
}
.icon> a:link{
	text-decoration: none;
	color: #eeeeee;
}
.icon> a:visited{
	text-decoration: none;
	color: #eeeeee;
}
img.menu{
	width: 15px;
	height: 15px;
}

#main{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #44DDAA !important;
	width:20%;
	padding:0 0 0 2%;
	font-weight: 700;
}

#main > div> a:link{
	color: #44DDAA !important;
	text-decoration: none;
}
#main > div> a:visited {
	color: #44DDAA !important;;
	text-decoration: none;
}
#chapter_num{
	float: left;
	margin: 15px 5px 5px 20px;
}
#item{
	display: flex;
	align-items: center;
	justify-content: center;
	width:10%;
	margin:0;
	padding:0 1%;
}
#item > a:link{
	color: #eeeeee;
	text-decoration: none;
}
#item > a:visited{
	color: #eeeeee;
	text-decoration: none;
}
#item:hover{
	transition: all 0.5s ease;
	border-color: #229977;
	background-color: #229977;
}
#nav_logo{
	width: 30px;
	height: auto;
}
#chapter_display{
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: 0 1px;
	border-color: #eeeeee;
	font-size: 0.7em;
	width:39%;
	align-items: center;
	justify-content: center;
	padding:auto 0;
	margin: 0;
}
.chapter_count{
	position:fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #11181A;
	width:70px;
	font-family: 'Source Sans Pro', sans-serif;
	color:#eeeeee;
	font-size: 1em;
	font-weight: 700;
	padding:0.5%;
	z-index: 999;
}
.count_show{
	transition: all 0.5s ease;
	right:0;
	bottom: 5%;
}
.count_hide{
	transition: all 0.5s ease;
	right:-90px;
	bottom: 5%;
}
.vertical_progress_bar{
	width:5px;
	position: fixed;
	bottom:0;
	background-color: #22282c;
	z-index: 999;
}
.vertical_hide{
	transition: opacity 0.5s ease;
	height: 0;
	opacity: 0;
}
.vertical_show{
	transition: opacity 0.5s ease;
	height: 1000px;
	opacity: 0.7;
}
.vertical_progress{
	width: 100%;
	background-color: #44DDAA;
}
.progress_back{
	width: 100%;
	height: 0.3em;
	background-color: #22282c;
	opacity: 0.85;
}
.progress_bar{
	width: 0%;
	height: 100%;
	background-color: #44DDAA;
}
.progress_bar2{
	width: 0%;
	height: 100%;
	background-color: #DDE0E6;
}

.bottom{
		position: fixed;
		display: inline-block;
		width: 50%;
		padding: 2% 25% 3% 25%;	
		opacity: 1;
		z-index: 9999;
}
.bottom_show{
	transition: all 0.5s ease;
	bottom:0;
	left: 0;
}
.bottom_hide{
	transition: all 0.5s ease;
	bottom:-100px;
	left: 0;
}
.arrow{
		text-align: center;
		font-family: 'Muli', sans-serif;
		color:#eeeeee;
		font-size: 0.7em;
		font-weight: bold;
}
.arrow > a:visited{
	color:#ffffff;
	opacity:1;
	text-decoration: none;
}
.arrow > a:link{
	color:#ffffff;
	opacity:1;
	text-decoration: none;
}

.arrow a:hover{
	opacity:1; 
	text-decoration: none;
	color:#eeeeee;
}
.arrow_img{
	margin: 0.5em;
	width:50px;
	height:50px;
}
.arrow_on{
	transition: all 0.5s ease;
	width:50px;
	height:50px;
}
.arrow_off{
	transition: all 0.5s ease;
	width:0px;
	height:0px;
}

@media screen and (max-width: 640px){
  
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
  		position: relative;
		float: left;
		display: flex;
	}

  li.nav_item{
	    list-style-type: none;
		width: 96%;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.8em;
		color: #d0d0d0;
		font-weight: 400;
		height:48px;
		margin: 1% 2% 1% 2%;
	}	

	#chapter_display{	
		position: relative;
		float: left;
		width:59%;
		align-items: center;
		justify-content: center;
		padding:auto 0;
		margin:0;
	}
	#main{
		width:30%;
		position: relative;
		float: left;
		margin: 0 !important;
	}
	#item{
		padding:2% 4%;
		width:92%;
		display: none;
		text-align: left;
	}
	.icon{
		display: flex;
		align-items: center;
		justify-content: center;
		width:8% !important;
		position: relative !important;
		float: left !important;
		margin: 0 !important;
	}

	.bottom{
		position: fixed;
		display: inline-block;
		width: 50%;
		padding: 2% 25% 3% 25%;
		bottom:0;
		left: 0;
		opacity: 0.8;
		z-index: 9999;
	}
	#next{
		margin-right: 2%;
		float: right;
	}
	.next_on{

	}
	.next_off{

	}


	.arrow > a:visited{
		color:#eeeeee;
		opacity:0.8;
		text-decoration: none;
	}
	.arrow > a:link{
		color:#eeeeee;
		opacity:0.8;
		text-decoration: none;
	}

	.arrow a:hover{
		opacity:1; 
		text-decoration: none;
		color:#eeeeee;
	}
	.arrow_img{
		margin: 0.5em;
		width:50px;
		height:50px;
	}
}

@media screen and (max-width: 640px){
	.nav_bar{
		width: 100%;
		height: auto;
		/*background-color: #22282c;*/
		background-color: rgba(8,16,24,0.9);
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 9999;
		text-align: center;
		border-style: solid;
		border-width: 0 0 1px 0;
		border-color: #eeeeee;
	}
	.current_chapter{
		color: #eeeeee !important; 
		border-style: none;
		border-width: 0;
	}
	.current_chapter>a{
		list-style-type: circle;
	}
	  ul.topnav.responsive {
	  	display: block !important;
	  	position: relative;
	  }
	 .responsive> #item {
	    float: none;
	    display: inline-block !important;
	    height:auto !important;
	  }

	 .top_item{
	 	font-weight: 400;
		border-style: solid;
		border-width: 1px 0 0 0;
		border-color: #eeeeee;
	 }
}

