

/* navigation */
.nav_bar{
	width: 100%;
	height: auto;
	background-color: #22282c;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	text-align: center;
}
ul.topnav{
	display: inline-block;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding:0px;
	z-index: 999;
}
li.nav_item{
    list-style-type: none;
	width: auto;
	font-family: 'Muli', sans-serif;
	font-size: 0.8em;
	color: #d0d0d0;
	font-weight: 400;
	margin: 15px 0px 5px 0px;
	padding: 0 10px 0 10px;
}
.icon{
	display: none;
}
#main{
	font-size: 15px;
	color: #99eeff;
	float: left;
	font-weight: 700;
	width:auto;
	margin-left: 5%;
	margin-right: 5%;
}
#main > a:hover{
	color: #99eeff;
	text-decoration: none;
}
#main > a:visited {
	color: #99eeff;
	text-decoration: none;
}
#chapter_num{
	float: left;
	margin: 15px 5px 5px 20px;
}
#current_chapter{
	float: left;
	margin: 15px 5px 5px 5px;
}
#item{
	float: left;
}
#item > a:link{
	color: #d0d0d0;
	text-decoration: none;
}
#item > a:visited{
	color: #d0d0d0;
	text-decoration: none;
}

.progress_back{
	width: 100%;
	height: 0.3em;
	background-color: #22282c;
}
.progress_bar{
	width: 0%;
	height: 100%;
	background-color: #44aacc;
}
.progress_bar2{
	width: 0%;
	height: 100%;
	background-color: #DDE0E6;
}

.bottom{
	background-color: #20262F;
	position: fixed;
	display: inline-block;
	width: 50%;
	padding: 5% 25% 10% 25%;
	bottom:0;
	left: 0;
	opacity: 0.8;
	z-index: 9999;
}
.arrow{
	text-align: center;
	font-family: 'Muli', sans-serif;
	color:#eeeeee;
	font-size: 0.8em;
}
.arrow > a:visited ,a:link{
	color:#eeeeee;
	opacity:0.8;
	text-decoration: none;
}
.arrow a:hover{
	opacity:1; 
	text-decoration: none;
	color:#eeeeee;
}
.arrow_img{
	margin: 0.5em;
	width:8em;
	height:8em;
}

@media screen and (max-width: 640px){
  
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
  		width:auto;
		float: right;
		display: inline-block;
	}

  li.nav_item{
	    list-style-type: none;
		width: 96%;
		font-family: 'Muli', sans-serif;
		font-size: 1em;
		color: #d0d0d0;
		font-weight: 400;
		margin: 1% 2% 1% 2%;
	}	

	#item{
		margin-left: 7%;
	}
	.bottom{
		background-color: #20262F;
		position: fixed;
		display: inline-block;
		width: 92%;
		padding: 5% 4% 10% 4%;
		bottom:0;
		left: 0;
		opacity: 0.8;
		z-index: 9999;
	}	
}

@media screen and (max-width: 640px){
	  ul.topnav.responsive {position: relative;}
	  ul.topnav.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }
	  ul.topnav.responsive li {
	  	background-color: #22282c;
	    float: none;
	    display: inline;
	  }
	  ul.topnav.responsive li a {
	    display: block;
	    text-align: left;
	  }
}

