@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
html{font-size: 16px; height:100%;}
body{
	height:100%;
	min-width: 360px;
	margin: 0px;
	padding: 0px;
	color: #D0D8DA;
	background-color: #11181A;
}

.header{
	display: inline-block;
	max-width: 800px;
	width: 90%;
	height:89%;
	margin: 15% 1% 1% 1%;
	padding:0% 4% 0% 4%;
}
.header_background{
	width:100%;
	top:5%;
	left: 0%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position:fixed;
	z-index: -1;
}

#chapt1{
	background-image: url("../img/father_son.jpg");
	filter: grayscale(0.2);
	height:65%;
}
#chapt2{
	background-image: url("../img/refugee_move.jpg");
	filter: grayscale(0.2);
	height:65%;
}
#chapt3{
	background-image: url("../img/destroyed.jpg");
	filter: grayscale(0.2);
	height:80%;
}
.chapter_introduction_div{
	font-size: 0.8em;
	margin: 55% 0.5% 45% 0.5%;
	padding:1%;
	display: inline-block;
	background-color: rgba(2,8,16,0.8);
}
.chapter_introduction_div>p{
	text-indent: 0.7em;
	display: inline-block;
	width: 96%;
	margin: 2%;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	text-align: left;
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
	line-height: 150%;
	color: #eeeeee;
}
.chapter_article_div{
	display: inline-block;
	width: 90%;
	margin: 80% 5% 80% 5%;
}
#last_article{
	margin: 80% 5% 0% 5%;
}

#chapt2_svg_title{
	margin: 0 0 -1em 0 !important;
}

h1.title{
	display: inline-block;
	color: #222222;
	margin: 0.5%;
    padding: 0.5%;
	max-width: 800px;
	font-family: 'League Gothic', sans-serif;
	font-size: 2em;
	letter-spacing: 0.05em;
	font-weight: normal;
	font-style: normal;
	line-height: 110%;
	background-color: rgba(255,255,255,0.8);
}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	padding: 5px 5px 5px 0;
	margin-top: 0px;
	line-height: 120%;
	letter-spacing: 0.03em;
	word-spacing: 0.1em;
	color: #eeeeee;
	text-transform: uppercase;
}
h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	margin:4% 2% 2% 2%;
	line-height: 120%;
	color: #eeeeee;
	text-transform: uppercase;
}
.chapter_article_div >h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #eeeeee;
}

.chapter_article_div >p{
	margin: 0 0 2em 0;
	display: inline-block;
	font-size: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 135%;
	text-align: left;
	color: #AAAAAA;
}
.border{
	margin: 0;
	display: block;
	width: 100%;
	min-height: 1px;
	background-color: #11181A;
	mix-blend-mode: screen;
}
.wrapper{
	width: 100%;
	display:inline-block;
	padding-top: 50%;
	/*border-style: solid;
	border-width: 0.2em 0 0 0;
	border-color: #CCD0DA;*/
}
.container{
	width: 100%;
	margin:0;
	height: auto;
	/*background-color: #11181A;*/
	/*background-color: rgba(17,25,26,0.9);*/
}
.block{
	display: inline-block;
	position: relative;
	float: left;
	max-width: 400px;  
	width: 98%;
	margin: 1%;
	height: 100px;
	background-color: #eeeeee;
}
.block-1{
	display: inline-block;
	width: 98%;
	margin: 1%;
}
.block-32{
	display: inline-block;
	position: relative;
	float: left;
	max-width: 400px;  
	width: 48%;
	margin: 1%;
}
.viz{
	z-index: 999;
	padding-top: 0;
	width:96%;
	margin: 2%;
	margin-top: 0%;
	float: none;
}
.viz>h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	margin: 0.5em 0 0.5em 0;
	line-height: 120%;
	letter-spacing: 0.03em;
	word-spacing: 0.1em;
	text-align: left;
	color: #eeeeee;
	font-stretch: condensed;
}
#viz_3{
	padding-top:2%;
}
.viz_Mfixed{
	background-color: #11181A;
	position: fixed;
	top: 0px;
	left:0px;
}
.mask{
	width:0;
	height:5em;
	position: fixed;
	top:0;
	left:0;
	background: linear-gradient(#11181A 10%, rgba(0,0,0,0));
}
.text{
	width:98%;
	margin: 1%;
	float: none;
}
#end_div{
	display: inline-block;
	width:100%;
	height:20%;
}
#prev{
	display: inline-block;
	margin-left: 2%;
	float: left;
}
#next{
	display: inline-block;
	margin-right: 2%;
	float: right;
}

@media screen and (max-width: 360px){
	.chapter_article_div{
		display: inline-block;
		width: 90%;
		margin: 200px 5% 200px 5%;
	}
	#last_article{
		margin: 200px 5% 50px 5%;
	}
	#end_div{
		display: inline-block;
		width:100%;
		height:50px;
	}
}

@media screen and (min-width: 820px){
		html{font-size: 16px;}
		
		p{
			display: inline-block;
			font-size: 1.1em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			word-spacing: 0.1em;
			line-height: 150%;
			margin: 1em 0 1.4em 0;
		}
		h1.title{
			display: inline-block;
			color: #222222;
			margin: 0.5%;
			padding: 1%;
			max-width: 800px;
			font-family: 'League Gothic', sans-serif;
			font-size: 3.5em;
			letter-spacing: 0.05em;
			font-weight: normal;
			font-style: normal;
			line-height: 110%;
			background-color: rgba(255,255,255,0.8);
		}
		.container{
			/*background-color: rgba(17,25,26,0.9);*/
			width: 92%;
			margin:0 auto 0 auto;
			height: auto;
			max-width: 1200px;
		}
		.chapter_introduction_div{
			font-size: 0.8em;
			margin: 25% 0.5% 45% 0.5%;
			padding:1%;
			display: inline-block;
			background-color: rgba(2,8,16,0.8);
		}
		
		.chapter_introduction_div>p{
			text-indent: 0.7em;
			display: inline-block;
			width: 96%;
			margin: 2%;
			font-family: 'Muli', sans-serif;
			font-size: 1.3em;
			font-weight: 300;
			text-align: left;
			letter-spacing: 0.05em;
			word-spacing: 0.15em;
			line-height: 150%;
			color: #eeeeee;
		}
		.chapter_article_div >p{
			margin: 0 0 2em 0;
			display: inline-block;
			font-size: 1.1em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			line-height: 135%;
			text-align: left;
			color: #AAAAAA;
		}
		.block{
			display: inline-block;
			position: relative;
			float: left;
			width: 48%;
			margin: 1%;
			height: 100px;
			background-color: #111111;
		}
		.block-32{
			display: inline-block;
			position: relative;
			float: left;
			max-width: 400px;  
			width: 30%;
			margin: 1.6%;
		}
		.viz{
			z-index: 999;
			padding-top: 0;
			width:63%;
			max-width: 695.52px;
			margin: 1%;
			float: left;
		}
		.viz>h2{
			display: inline-block;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 1.5em;
			margin: 1em 0 0.5em 0;
			line-height: 120%;
			letter-spacing: 0.03em;
			word-spacing: 0.1em;
			text-align: left;
			color: #eeeeee;
			font-stretch: condensed;
		}
		.viz_Dfixed{
			position: fixed;
			width: 57.96% !important; /* Container width(92%) X Viz-Width */
			max-width: 695.52px;
			margin: 0.92% !important;
			top: 0px;
			left:0px;
			transition: box-shadow 0.5s ease;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.mask{
			opacity:0;
			width:0;
			height:0;
		}
		.text{
			position: relative;
			width:32%;
			margin: 1% 1% 1% 2%;
			float: left;
			top:0px;
			background-color: #11181A;
		}
		.text_fixed{
			margin-left:61%;
		}
}