@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Roboto+Slab:400,100,300);

.timeline_div_column1{
    width: 750px;
    margin: 0px
    height: auto;
    background-color: #111111;
    position: relative;
    float: left;
}
.circle_event{
    opacity: 0.5;
}
.timeline_summary{
    display: table;
    width: 420px;
    background-color: #111111; 
    color: #cccccc;
}
.timeline_summary > p{
    text-align: justify;
    text-justify: distribute;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    line-height: 150%;
    text-indent: 30px;
    color: #dfdfdf;
}
.timeline_div_article_content >h2{
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    color: #cc3333;
}
.timeline_div_article_content >h3{
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #eeeeee;
}
.timeline_div_article_content >p{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    line-height: 180%;
    text-indent: 30px;
    color: #dfdfdf;
}
.timeline_div_head{
    width: 750px;
    margin: 0px;
    height: auto;
    background-color: #111111;
    display: inline-block;
}
.timeline_head1{
    width:70px;
    height:auto;
    margin: 10px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    float: left;
}
.timeline_head2{
    width:350px;
    height:auto;
    margin: 10px 10px 0px 10px;
    position: relative;
    text-align: left;
    float: left;
    color: #eeeeee;
}
.timeline_head3{
    width: 240px;
    height:auto;
    margin: 10px 10px 0px 10px;
    position: relative;
    text-align: left;
    float: left;
}
.timeline_div_eventSelect{
    margin: 0px;
    display: inline;
}
.timeline_eventButton{
    font-family: Helvetica;
    font-weight: lighter;
    line-height: 110%;
    font-size: 10px;
    letter-spacing: 1px;
}
.timeline_div_svg{
    text-align:left;
    width: 580px;
    margin: 0px;
    height: auto;
    background-color: 000000;
}
h3.timeline_heading {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: #eeeeee;
}
.exp{
    color: #eeeeee;
    font-family: Helvetica;
    font-weight: lighter;
    line-height: 110%;
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.timeline_data_review{
    display: inline-block;
}
.timeline_data_review_chart{
    width: 250px;
    float: left;
}
.timeline_data_review_num{
    width: 420px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.timeline_divLine{
    stroke-width : 0.5;
    stroke: #888888;
    stroke-dasharray: 2,2;
    shape-rendering: crispEdges;
}
.timeline_legend{
    font-family: Helvetica;
    font-size: 10px;
    fill: #dddddd;
}
.timeline_axis { /* axis labels */
    fill: #999999;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
}

.timeline_axis line{ /* axis tick marks */
    stroke-width : 0.5;
    stroke: #999999;
    shape-rendering: crispEdges;
}
#date_axis line{
    stroke: #999999;
    stroke-dasharray: 2,2;
}
#date_axis path{
    display: none;
}
.timeline_axis path { /* axis line */
    stroke-width : 0.5;
    stroke: #999999;
    shape-rendering: crispEdges;
}
/* timeline band */

.band { /* band background */
    fill: #eeeeee;
}

/* labels */
.bandLabel {
    fill: #F0F0F0;
    font: 10px sans-serif;
    font-weight: bold;
}
.bandMinMaxLabel {
    fill: blue;
    font: 10px sans-serif;
    font-weight: bold;
}

.bandMidLabel {
    fill: red;
    font: 10px sans-serif;
    font-style: italic;
    font-weight: bold;
}

/* brush */
.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .1;
}

.chart {
    background-color: #000000;
}

.interval {
    cursor : default;
    pointer-events: true;
}

.instant {
    cursor : default;
    pointer-events: true;
}

.instantLabel {
    fill : #eeeeee;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    stroke-location: inside;
}

#refugee{
    fill: #338866;
    color:#338866;
    stroke:#338866;
}
.line_d {
    stroke: #C23355;
    stroke-width: 1px;
}
.line_r {
    stroke: #338866;
    stroke-width: 1px;
}
#death{
    fill: #C23355;
    color: #C23355;
    stroke: #C23355;
}
#shelling{
    fill: #BB2244;
    color: #C23355;
    border-color: #B71C1C;
}
#air_strike{
    fill: #1177BB;
    color: #22abc3;
    border-color: #444444;
}
#battle{
    fill: #338866;
    color:#338866;
    border-color: #444444;
}
#chemical{
    fill: #00BB44;
    color: #00C853;
    border-color: #444444;
}
#massacre{
    fill: #ffcc00;
    color: #ffcc00;
    border-color: #444444;
}
#barrel_bomb{
    fill: #cc3300;
    color: #cc3300;
    border-color: #444444;
}
#etc{
    fill: #dddddd;
    color: #dddddd;
    border-color: #444444;
}
#HZB{
    fill: #1177BB;
    color: #22abc3;
}

#IR{
    fill: #BB2244;
    color: #C23355;
}
#IS{
    fill: #ffcc00;
    color: #ffcc00;
}
#RS{
    fill: #dddddd;
    color:#dddddd;
}
#US{
    fill: #335533;
    color:#335533;
}
#data_review_num{
    font-size: 45px;
}
.ref_num{
    width:190px;
    margin: 10px;
    float:left;
    color: #338866;
}
.death_num{
    width: 190px;
    margin: 10px;
    float: left;
    color: #C23355;
}
.big_num{
    font-size: 35px;
}
.chapter_selector{
    fill: rgba(0,0,0,0);
    stroke: #aaaaaa;
    stroke-width: 0.5px;
}
.chapter_mask{
    fill: rgba(50,60,60,0.55);
}