@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Roboto+Slab:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body{
	margin: 0px;
	padding: 0px;
	color: #D0D8DA;
	background-color: #111215;
}
p{
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
}
.header{
	max-width: 800px;
	width: 98%;
	height:100%;
	margin: 1%;
}
.chapter_introduction_div{
	max-width: 800px;
}
.chapter_article_div{
	display: inline-block;
	width: 90%;
	margin: 80% 5% 80% 5%;
}
.viz>h2{
	font-family: 'League Gothic', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #eeeeee;
}

h1.title{
	color: #eeeeee;
	margin-bottom: 0.2em;
	max-width: 800px;
	font-family: 'League Gothic', sans-serif;
	font-size: 4em;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	font-weight: normal;
	font-style: normal;
	
}
.chapter_article_div >h2{
	font-family: 'League Gothic', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #cc3333;
}

.chapter_article_div >p{
	margin: 0 0 30px 0;
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	line-height: 130%;
	text-indent: 1em;
	color: #bbbbbb;
}
.bottom{
	display: inline-block;
	width: 98%;
	height: 100px;
	margin: 1%;
	background-color: #333333;
}


.container{
	width: 100%;
	height: auto;
	margin: auto;
}
.block{
	display: inline-block;
	position: relative;
	float: left;
	max-width: 400px;  
	width: 98%;
	margin: 1%;
	height: 100px;
	background-color: #eeeeee;
}
.viz{
	z-index: 999;
	padding-top: 4%;
	display: inline-block;
	background-color: #111215;
	width:96%;
	margin: 2%;
	margin-top:0%;
	float: none;
	
}
.viz_Mfixed{
	padding-top: 2%;
	position: fixed;
	top: 0;
}
.text{
	position: relative;
	width:98%;
	margin: 1%;
	float: none;
}

@media screen and (min-width: 820px){
		.container{
			width: 100%;
			max-width: 1200px;
			height: auto;
			margin: auto;
		}
		.block{
			display: inline-block;
			position: relative;
			float: left;
			width: 48%;
			margin: 1%;
			height: 100px;
			background-color: #eeeeee;
		}
		.viz{
			z-index: 999;
			display: inline-block;
			padding-top: 4%;
			background-color: #111215;
			width:63%;
			max-width: 696px;
			margin: 1%;
			margin-top:0%;
			float: left;
			
		}
		.viz_Dfixed{
			padding-top: 2%;
			position: fixed;
			top: 0px;
		}
		.text{
			
			position: relative;
			width:33%;
			margin: 1%;
			float: left;
			top:0px;
		}
		.text_fixed{
			margin-left:61%;
		}
}