@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Roboto+Slab:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url('https://fonts.googleapis.com/css?family=Muli:300');
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

html{font-size: 14px;}
body{
	min-width: 360px;
	margin: 0px;
	padding: 0px;
	color: #D0D8DA;
	background-color: #111111;
}


p{
	font-size: 0.85em;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
}

.header{
	display: inline-block;
	max-width: 800px;
	width: 90%;
	height:89%;
	margin: 10% 1% 1% 1%;
	padding:0% 4% 0% 4%;
}
.header_background{
	width:100%;
	max-width: 1200px;
	height:58%;
	top:0%;
	left: 0%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	position:fixed;
	z-index: -1;
}


#chapt1{
	background-image: url("../img/father_son_dark.jpg");
}
#chapt2{
	background-image: url("../img/refugee_move.jpg");
}
#chapt3{
	background-image: url("../img/destroyed.jpg");
}
.chapter_introduction_div{
	font-size: 0.8em;
	padding:1%;
	display: inline-block;
	background-color: rgba(2,8,16,0.5);
}
.chapter_article_div{
	display: inline-block;
	width: 90%;
	margin: 80% 5% 80% 5%;
}
.viz>h2{
	font-family: 'Muli', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #eeeeee;
}

h1.title{
	color: #eeeeee;
	margin: 3% 0% 5% 0%;
	max-width: 800px;
	font-family: 'League Gothic', sans-serif;
	font-size: 3.5em;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	font-weight: normal;
	font-style: normal;
	font-weight: 100;
	line-height: 100%;
	
}
h2{
	font-family: 'League Gothic', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #cc3333;
}
h3{
	font-family: 'Muli', sans-serif;
	font-weight: 100;
	font-size: 1em;
	margin:5px 0 0 0;
	line-height: 120%;
	color: #eeeeee;
}
.chapter_article_div >h2{
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #eeeeee;
}

.chapter_article_div >p{
	margin: 0 0 30px 0;
	font-size: 0.85em;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	line-height: 130%;
	text-indent: 1em;
	color: #bbbbbb;
}
.bottom{
	display: inline-block;
	width: 98%;
	margin: 5% 2% 10% 2%;
	z-index: 9999;
}
.arrow_img{
	margin: 0.5em;
	opacity: 0.8;
}


.container{
	width: 100%;
	margin:0;
	height: auto;
	background-color: #11121A;
}
.block{
	display: inline-block;
	position: relative;
	float: left;
	max-width: 400px;  
	width: 98%;
	margin: 1%;
	height: 100px;
	background-color: #eeeeee;
}
.block-32{
	display: inline-block;
	position: relative;
	float: left;
	max-width: 400px;  
	width: 48%;
	margin: 1%;
	background-color: #11121A;
}
.viz{
	z-index: 999;
	padding-top: 6em;
	width:96%;
	margin: 2%;
	margin-top: 0%;
	float: none;
	background-color: #11121A;
}
.viz_Mfixed{
	position: fixed;
	top: 0px;
	left:0px;
}
.mask{
	width:0;
	height:8em;
	position: fixed;
	top:0;
	left:0;
	background: linear-gradient(#111215 10%, rgba(0,0,0,0));
}
.text{
	background-color: #11121A;
	width:98%;
	margin: 1%;
	float: none;
}
.arrow{
	text-align: center;
	font-family: 'Muli', sans-serif;
	color:#eeeeee;
	font-size: 1.0em;
}
.arrow > a:visited ,a:link{
	color:#eeeeee;
	opacity:0.8;
	text-decoration: none;
}
.arrow a:hover{
	opacity:1;
	text-decoration: none;
	color:#eeeeee;
}

#prev{
	display: inline-block;
	margin-left: 2%;
	float: left;
}
#next{
	display: inline-block;
	margin-right: 2%;
	float: right;
}

@media screen and (min-width: 820px){
		html{font-size: 16px;}
		p{
			font-size: 1.1em;
			font-family: 'Muli', sans-serif;
			font-weight: 300;
		}
		.container{
			background-color: #11121A;
			width: 92%;
			margin:0 auto 0 auto;
			height: auto;
			max-width: 1200px;
		}
		.header_background{
			width:92%;
			height:52%;
			top:0%;
			left: 4%;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 100% auto;
			position:fixed;
			z-index: -1;

		}
		.block{
			display: inline-block;
			position: relative;
			float: left;
			width: 48%;
			margin: 1%;
			height: 100px;
			background-color: #11121A;
		}
		.block-32{
			display: inline-block;
			position: relative;
			float: left;
			max-width: 400px;  
			width: 30%;
			margin: 1.6%;
			background-color: #11121A;
		}
		.viz{
			z-index: 999;
			padding-top: 6em;
			width:63%;
			max-width: 695.52px;
			margin: 1%;
			float: left;
			background-color: #11121A;
		}
		.viz_Dfixed{
			position: fixed;
			width: 57.96% !important; /* Container width(92%) X Viz-Width */
			max-width: 695.52px;
			margin: 0.92% !important;
			top: 0px;
			left:0px;
		}
		.mask{
			opacity:0;
			width:0;
			height:0;
		}
		.text{
			background-color: #11121A;
			position: relative;
			width:33%;
			margin: 1%;
			float: left;
			top:0px;
		}
		.text_fixed{
			margin-left:61%;
		}
}