@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Roboto+Slab:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body{
	margin: 0px;
	padding: 0px;
	color: #D0D8DA;
	background-color: #111215;
}
.header{
	display: inline-block;
	width: 98%;
	height:100%;
	margin: 1%;
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
}
.chapter_introduction_div{
	max-width: 800px;
}
.chapter_article_div{
	display: inline-block;
	width: 90%;
	margin: 80% 5% 80% 5%;
}
.viz>h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #eeeeee;
}

.chapter_title_div>h1{
	color: #eeeeee;
	margin-bottom: 0.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 3px;
	word-spacing: 6px;
	font-size:  3em;
	font-weight: 700;
	line-height: 100%;
	word-wrap: 15px;
}
.chapter_article_div >h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 2em;
	margin: 30px 0 5px 0;
	margin-top: 0px;
	line-height: 120%;
	color: #cc3333;
}
.chapter_article_div >h3{
	margin: 20px 0 5px 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	color: #eeeeee;
}
.chapter_article_div >p{
	margin: 0 0 30px 0;
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
	line-height: 160%;
	text-indent: 10px;
	color: #bbbbbb;
}
.bottom{
	display: inline-block;
	width: 98%;
	height: 100px;
	margin: 1%;
	background-color: #333333;
}


.container{
	width: 100%;
	min-width: 368px;
	height: auto;
	margin: auto;
}
.viz{
	height: 300px;
	padding-top: 2%;
	display: inline-block;
	background-color: #ffffff;
	width:96%;
	margin: 2%;
	float: none; 
	
}
.viz_Mfixed{
	padding-top: 2%;
	position: fixed;
	top: 0;
	-webkit-transform: translateZ(0);
}
.text{
	
	position: relative;
	width:98%;
	margin: 1%;
	float: none;
}

@media screen and (min-width: 820px){
		.container{
			width: 100%;
			max-width: 1200px;
			height: auto;
			margin: auto;
		}
		.viz{
			height: 300px;
			display: inline-block;
			padding-top: 2%;
			background-color: #ffffff;
			width:63%;
			max-width: 696px;
			margin: 1%;
			float: left;
			
		}
		.viz_Dfixed{
			-webkit-transform: translateZ(0);
			padding-top: 2%;
			position: fixed;
			top: 0px;
		}
		.text{
			
			position: relative;
			width:33%;
			margin: 1%;
			float: left;
			top:0px;
		}
		.text_fixed{
			margin-left:61%;
		}
}